
@media screen and (max-device-width: 768px) {
  // Taille des polices

  h1 {
    font-size: 37px;
    letter-spacing: 1px;
    padding-top: 50px
  }
  h2 {
    font-size: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  p {
    font-size: 12px;
  }
  .container_with_margin {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  // Taille des polices
  h1 {
    font-size: 53px ;
    letter-spacing: 1px;
    padding-top: 71px
  }
  h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 17px;
    letter-spacing: 1px;
  }
  p {
    font-size: 17px;
  }
  .container_with_margin {
    margin-right: 30px;
    margin-left: 30px;
  }

}
@media screen and (min-width: 1000px) and (max-width: 1349px) {
  // Taille des polices
  h1 {
    font-size: 66px;
    letter-spacing: 2px;
    padding-top: 89px
  }
  h2 {
    font-size: 38px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 29px;
  }
  h4 {
    font-size: 20px;
    letter-spacing: 1px;
  }
  p {
    font-size: 20px;
  }
  .container_with_margin {
    margin-right: 45px;
    margin-left: 45px;
  }
}
@media screen and (min-width: 1350px) {
  // Taille des polices
  h1 {
    font-size: 90px;
    letter-spacing: 2px;
    padding-top: 120px
  }
  h2 {
    font-size: 53px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  p {
    font-size: 22px;
  }

  .container_with_margin {
    margin-right: 60px;
    margin-left: 60px;
  }
}
