#anchor1, #anchor5 {
  position: absolute;
  bottom: 25px;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

#anchor2, #anchor4, #anchor3 {
  position: absolute;
  bottom: 25px;
  color: grey;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

#anchor2 {
  position: absolute;
  bottom: 25px;
  color: black;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}


#anchor_2_mobile {
  display: block ;
  color: grey ;
  cursor: pointer;
  text-align: center ;
}
#anchor2_mobile {
  display: block ;
  color: grey ;
  cursor: pointer;
  text-align: center ;
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
  .ancre {
    display: none !important;
  }
}
