
.menu {
  height: 100%;
  background-image: url('../../images/grey_background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  display: table;
  z-index: 999999999;
  ul {
    padding-left: 0;
    margin-top: 5px;
  }

  li div:hover {
    background-color: #303541;
  }
  a:hover {
    text-decoration: none;
  }
  .closed  {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    h3 {
      color: white;
      font-weight: lighter;
    }
  }

  .rubriques {
    display: table-cell;
    text-align: center;


  }

  h4 {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
  }

  @media screen and (max-device-width: 768px) and (orientation: portrait) {
    li {
      list-style-type:none;
      padding-top: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    li {
      list-style-type:none;
      padding-top: 10px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {
    li {
      display: inline;
      list-style-type:none;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {
    li {
      display: inline;
      list-style-type:none;
    }
  }
  @media screen and (min-width: 1350px) {
    li {
      display: inline;
      list-style-type:none;
    }
  }


  @media screen and (max-height: 749px)   {
    h4 {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    h5 {
      font-size: 14px;
    }
  }
  @media screen and (min-height: 750px) and (max-height: 876px) {
    h4 {
      font-size: 15px;
    }
    h5 {
      font-size: 15px;
    }
  }
  @media screen and (min-height: 877px) {
    h4 {
      font-size: 17px ;
    }

  }
}





.menu_link {
  position: fixed;
  color: grey;
  top: 15px;
  right: 15px;
  cursor: pointer;

  h3 {
    font-weight: lighter;
    z-index: 10000000000000000;
  }

  @media screen and (max-device-width: 768px) and (orientation: portrait) {
    h3 {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 25px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {
    h3 {
      font-size: 26px;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {
    h3 {
      font-size: 30px;
    }

  }
  @media screen and (min-width: 1350px) {
    h3 {
      font-size: 45px;
    }

  }
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
  .menu {
    width: 350px;
    right: -350px;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    width: 350px ;
    right: -350px;
  }
}
@media screen and (min-width: 769px) and (max-width: 999px) {
  .menu {
    width: 350px;
    right: -350px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1349px) {

  .menu {
    width: 350px;
    right: -350px ;
  }
}
@media screen and (min-width: 1350px) {

  .menu {
    right: -350px ;
    width: 350px;
  }
}

.infos_menu {
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  h4 {
    color: black;
  }
  .info_utiles {
    text-transform: uppercase;
    text-align: center;
  }
  .logo {
    width: 25%;
  }
}
