body,html{
  height:100%;
  background-color: red;
}

.page_2 {
  background-image: url('../../images/restaurant.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;

  .chieves_nav {
    height: 8%;
    background-image: url('../../images/nav-grey.png');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
  }
  .chief_picture {
    width: 50%;
    height: 92%;
    background-image: url('../../images/chief.jpg');
    background-size: cover;
    background-position: center;
    float: left;
  }

  .chief_details {
    width: 50%;
    height: 92%;
    background-color: white;
    float: right;
  }
  .cleared {
    clear: both;
  }
  ul {

  }
  li {
    display: inline-block;

  }

  h4 {
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: lighter;

  }
  @media screen and (max-width: 768px) {

  }
  @media screen and (min-width: 768px) and (max-width: 999px) {

  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {

  }
  @media screen and (min-width: 1350px) {
    h4 {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}



