body,html{
  height:100%;
  background-color: #373C47;
}

.page_6 {
  display: none;
  height: 100%;
  position: relative;
  h3 {
    font-weight: lighter;
  }


  .gm-style-iw * {
      display: block;
      width: 100%;
  }
  .gm-style-iw h4, .gm-style-iw p {
      margin: 0;
      padding: 0;
  }
  .gm-style-iw a {
      color: #4272db;
  }

  .days {
    font-size: 16px;
  }
  .contact {
    position: absolute;
    width: 30%;

    background-color: white;
  }

  @media screen and (max-width: 1198px) {
    #Restaurant {
      width: 100%;
      height: 70%;

    }
    .contact {
      width: 100%;
      min-height: 30%;
      left: 0px;
    }
    .contact_details {
      display: none;
    }
  }

  @media screen and (min-width: 1199px) {
    #Restaurant {
      width: 100%;
      height: 100%;

    }
    .contact {
      width: 30%;
      bottom: 0;
      left: 100px;
    }
    .contact_mobile {
      display: none;
    }
  }
}
