body,html{
  height:100%;
  background-color: #373C47;
}

.page_4 {
  height: 100%;
  text-align: center;
  position: relative;

  .picture_menu {
    width: 50%;
    height: 100%;
    float: right;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .modal_menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
  }

  .menu_zone {
    background-color: rgba(255,255,255,1);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    overflow-y: auto;
  }

  .cross_zone {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000000;
    cursor: pointer;
    img {
      width: 80px;
    }
  }

  .menu_link_zone {
    background-color: white;
    width: 50%;
    height: 100%;
    display: table;
    float: left;
    .menu_text {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .premier_pro_italic  {
    font-style: italic;
  }

  .active_meal {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
  }
  h3 {
    margin-top: 0px;
  }
  li {
    display: inline;
    list-style-type:none;

  }


  h4 {
    display: inline;
    cursor: pointer;
  }


  @media screen and (max-device-width: 768px) and (orientation: portrait) {

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .all_meals {
      position: relative;
      p {
        font-size: 12px;
        display: inline;
        text-transform: uppercase;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 768px) {

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .all_meals {
      p {
        font-size: 12px;
        display: inline;
        text-transform: uppercase;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .all_meals {
      p {
        font-size: 12px;
        display: inline;
        text-transform: uppercase;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .all_meals {
      p {
        font-size: 14px;
        display: inline;
        text-transform: uppercase;
      }
      h4 {
        font-size: 22px;
      }
    }
  }
  @media screen and (min-width: 1350px) {

    li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .all_meals {
      p {
        font-size: 14px;
        display: inline;
        text-transform: uppercase;
      }
      h4 {
        font-size: 22px;
      }
    }
  }

  @media screen and (min-height: 822px) {

  }
  @media screen and (max-height: 821px) {

  }
}



