body,html{
  height:100%;
}

.version_nonmobile, .version_mobile {
  height: 100%;
}
.page_2 {
  background-color: white;
  height: 100%;
  position: relative;

  strong {
    font-weight: light !important;
  }
  .chieves_nav {
    height: 8%;
    background-image: url('../../images/nav-grey.png');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    display: table;
    .chieves_nav_ul {
      display: table-cell;
      vertical-align: middle;
    }
  }

  // Partie sur le CHEF

  .chief_1 {
    height: 92%;
  }

  .chief_picture {
    width: 50%;
    height: 100%;
    background-image: url('../../images/chief.jpg');
    background-size: cover;
    background-position: center;
    float: left;
  }
  .chief_details_1 {
    width: 50%;
    background-color: white;
    float: right;
  }


  // Partie sur le SOUS CHEF
  .chief_2  {
    height: 92%;
  }

  .chief_picture2 {
    width: 50%;
    height: 100%;
    background-image: url('../../images/second.png');
    background-size: cover;
    background-position: top;
    float: left;
  }

  .chief_details_2 {
    width: 50%;
    height: 100%;
    background-color: white;
    float: right;
  }

  .cleared {
    clear: both;
  }

  // PARTIE MOBILE
    // CHEF MOBILE

  .chief_mobile_1 {
    height: 92%;

    .chief_picture {
      width: 100%;
      height: 45%;
      background-image: url('../../images/chief.jpg');
      background-size: cover;
      background-position: center;
    }
    .chief_details_1 {
      width: 100%;
      min-height: 55%;
      background-color: white;
    }
  }

  .chief_mobile_2 {
    height: 92%;
    // SOUS CHEF MOBILE
    .chief_picture2 {
      width: 100%;
      height: 45%;
      background-image: url('../../images/second.png');
      background-size: cover;
      background-position: top;
    }

    .chief_details_2 {
      width: 100%;
      min-height: 55%;
      background-color: white;
    }
  }


  // PARTIE PUCES ET TITRES

  ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  li {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .active_li {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }



  h4 {
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    text-transform: uppercase;
  }





  @media screen and (max-device-width: 768px) and (orientation: portrait) {
    li {
      margin-left: 10px;
      margin-right: 10px;
    }
    .version_nonmobile {
      display: none;
    }
    .version_mobile {
      display: block;
    }
    .chief_mobile_2 {
      display: none;
    }
    .non_mobile {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    li {
      margin-left: 10px;
      margin-right: 10px;
    }
    .version_nonmobile {
      display: none;
    }
    .version_mobile {
      display: block;
    }

    .chief_mobile_2 {
      display: none;
    }

    .non_mobile {
      display: none;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {
    li {
      margin-left: 10px;
      margin-right: 10px;
    }
    .version_nonmobile {
      display: block;
    }
    .version_mobile {
      display: none;
    }
    .mobile {
      display: none;
    }
    .chief_2 {
      display: none;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {
    li {
      margin-left: 15px;
      margin-right: 15px;
    }
    .version_nonmobile {
      display: block;
    }
    .version_mobile {
      display: none;
    }
    .mobile {
      display: none;
    }
    .chief_2 {
      display: none;
    }
  }
  @media screen and (min-width: 1350px) {
    li {
      margin-left: 15px;
      margin-right: 15px;
    }
    .version_nonmobile {
      display: block;
    }
    .version_mobile {
      display: none;
    }
    .mobile {
      display: none;
    }
    .chief_2 {
      display: none;
    }
  }
}



