body,html{
  height:100%;
}

#fullpage {
  height: 100%;
}

.page_1 {
  background-image: url('../../images/restaurant.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;

  h1 {
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
    font-weight: lighter;
    padding-top: 50px;
  }
  h2 {
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
    font-weight: lighter;
  }
}
