body,html{
  height:100%;
  background-color: red;
}

.page_3 {
  height: 100%;
  background-image: url('../../images/nav-grey.png');
  background-size: cover;
  background-position: center;

  // .slides img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  li {
    list-style-type:none;
  }

  .flex-control-nav {
    display: none;
  }
  .fa-angle-right {
    color: white;
  }
  //  MISE EN PLACE DE LA GALERIE
  .flex-viewport {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .plat {
    object-fit: cover;
  }

  .flex-control-nav {
    top: 0px;
    position: absolute;
  }

  .slides {
    height: 100%;
    padding-left: 0px;
  }
  .flexslider {
    height: 100%;
    position: relative;
  }
  .flex-direction-nav {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .restaurant_details {
    background-color: rgba(255,255,255,0.95);
    position: absolute;
    z-index: 10000;
    bottom: 0;
  }

  h3 {
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .restaurant_details {
      width: 100%;
      min-height: 30%;

    }
    .plat {
      top: 0px;
      width: 100%;
      height: 70%;
      min-height: 250px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {
    .restaurant_details {

    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {
    .restaurant_details {

    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 1350px) {
    .restaurant_details {
      width: 36%;
      min-height: 60%;
      right: 100px;
    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
}
