body,html{
  height:100%;
  background-color: #373C47;
}

.page_3 {
  height: 100%;
  background-image: url('../../images/nav-grey.png');
  background-size: cover;
  background-position: center;
  position: relative;

  // .slides img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  li {
    list-style-type:none;
  }

  .flex-control-nav {
    display: none;
  }
  .fa-angle-right {
    color: grey;
  }
  //  MISE EN PLACE DE LA GALERIE
  .flex-viewport {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .plat {
    object-fit: cover;
  }

  .flex-control-nav {
    top: 0px;
    position: absolute;
  }

  .slides {
    height: 100%;
    padding-left: 0px;
  }
  .flexslider {
    height: 100%;
    position: relative;
  }
  .flex-direction-nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .restaurant_details {
    background-color: rgba(255,255,255,1);
    z-index: 10000;
    position: absolute;

  }

  h3 {
    text-transform: uppercase;
  }

  @media screen and (max-device-width: 768px) and (orientation: portrait) {
    .restaurant_details {
      z-index: 10000;
      position: absolute;
      min-height: 30%;
      background-color: rgb(255, 255, 255);
      bottom: 0px;
      p {
        padding-bottom: 10px;
      }
    }
    .plat {
      top: 0px;
      width: 100%;
      height: 100%;
      min-height: 250px;
      object-fit: cover;
    }
    ul {
      height: 100%;
    }
    li {
      height: 100%;
    }
    .flexslider {
      height: 70%;
      position: relative;
    }
    .flex-direction-nav {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .restaurant_details {
      z-index: 10000;
      position: absolute;
      min-height: 30%;
      background-color: rgb(255, 255, 255);
      bottom: 0px;
    }
    .plat {
      top: 0px;
      width: 100%;
      height: 100%;
      min-height: 250px;
      object-fit: cover;
    }
    ul {
      height: 100%;
    }
    li {
      height: 100%;
    }
    .flexslider {
      height: 70%;
      position: relative;
    }
    .flex-direction-nav {
      display: none;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 999px) {
    .restaurant_details {
      bottom: 0px;
    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1349px) {
    .restaurant_details {
      bottom: 0px;
    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 1350px) {
    .restaurant_details {
      width: 36%;
      min-height: 60%;
      right: 100px;
      bottom: 0px;
    }
    .plat {
      width:100%;
      height: 100%;
    }
  }
}

