---
title: Le Wagon Middleman boilerplate
---
<!-- PAGE 1 -->
<div id="fullpage">

  <div class="page_1 text-center section" id='page1'>
    <h1 class='tk-europa restaurant_name'>
        Restaurant <br> <h2 class="tk-europa"> paris </h2>
    </h1>
    <i id="anchor1" class="fa fa-angle-down fa-5x ancre"></i>
  </div>

<!-- PAGE 2 -->
  <div class="page_2 tk-europa section" id="page2">
    <div class="chieves_nav text-center">
      <div class="chieves_nav_ul">
        <ul class="text-center employees_list">
          <li id="one_2" class='active_li'><h4 class='tk-europa our_chef'>our chef</h4></li>
          <li id="two_2"class='active_li'><h4 class='tk-europa our_sous_chef'>our sous chef</h4></li>
        </ul>
      </div>
      <i id="anchor2" class="fa fa-angle-down fa-5x non_mobile ancre"></i>
    </div>

  <!-- PARTIE NON MOBILE DE LA PARTIE CHEF -->
    <div class="version_nonmobile">
      <div class="chief_1">
        <div class="chief_picture">

        </div>
        <div class="chief_details_1 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Marc Johnon</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
        </div>
        <div class="cleared">
        </div>
      </div>

      <div class="chief_2">
        <div class="chief_picture2">

        </div>
        <div class="chief_details_2 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Franck Levasseur</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
        </div>
        <div class="cleared">
        </div>
      </div>
    </div>

  <!-- PARTIE MOBILE DE LA PARTIE CHEF -->
    <div class="version_mobile">
      <div class="chief_mobile_1">
        <div class="chief_picture">

        </div>
        <div class="chief_details_1 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Marc Johnon</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
          <i id="anchor2_mobile" class="fa fa-angle-down fa-5x mobile ancre"></i>
        </div>
        <div class="cleared">
        </div>
      </div>

      <div class="chief_mobile_2">
        <div class="chief_picture2">

        </div>
        <div class="chief_details_2 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Franck Levasseur</h3>
            <br><br>
            <p class='tk-garamond-premier-pro '>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
          <i id="anchor_2_mobile" class="fa fa-angle-down fa-5x mobile ancre"></i>
        </div>
        <div class="cleared">
        </div>
      </div>
    </div>
  </div>


 <!-- A coller ici -->
  <div class="menu_link">
    <h3 class='tk-europa'>MENU</h3>
  </div>
</div>

<!-- <div class='menu_hamburger'>
  <img src="images/noun_202961_cc.png" alt="MenuButton" class='menu_button' ></img>
</div>
 -->
<div id='activated_zone'>
&nbsp;
</div>
