---
title: Le Wagon Middleman boilerplate
---
<!-- PAGE 1 -->
  <div class="page_1 text-center">
    <h1 class='tk-europa'>
        L'arpège <br> <h2 class="tk-europa"> paris </h2>
    </h1>
  </div>

<!-- PAGE 2 -->
  <div class="page_2 tk-europa">
    <div class="chieves_nav text-center">
      <div class="chieves_nav_ul">
        <ul class="text-center employees_list">
          <li id="one_2" class='active_li'><h4 class='tk-europa our_chef'>our chef</h4></li>
          <li id="two_2"class='active_li'><h4 class='tk-europa our_sous_chef'>our sous chef</h4></li>
        </ul>
      </div>
    </div>
  <!-- PARTIE NON MOBILE DE LA PARTIE CHEF -->
    <div class="chief_1">
      <div class="chief_picture">

      </div>
      <div class="chief_details_1 text-left ">
        <div class="container_with_margin">
          <br><br>
          <h3 class='tk-europa'>Marc Johnon</h3>
          <br><br>
          <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
          This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
        </div>
      </div>
      <div class="cleared">
      </div>
    </div>

    <div class="chief_2">
      <div class="chief_picture2">

      </div>
      <div class="chief_details_2 text-left ">
        <div class="container_with_margin">
          <br><br>
          <h3 class='tk-europa'>Franck Levasseur</h3>
          <br><br>
          <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
          This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
        </div>
      </div>
      <div class="cleared">
      </div>
    </div>
  <!-- PARTIE MOBILE DE LA PARTIE CHEF -->
    <div class="chief_mobile_1">
      <div class="chief_picture">

      </div>
      <div class="chief_details_1 text-left ">
        <div class="container_with_margin">
          <br><br>
          <h3 class='tk-europa'>Marc Johnon</h3>
          <br><br>
          <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
          This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
        </div>
      </div>
      <div class="cleared">
      </div>
    </div>

    <div class="chief_mobile_2">
      <div class="chief_picture2">

      </div>
      <div class="chief_details_2 text-left ">
        <div class="container_with_margin">
          <br><br>
          <h3 class='tk-europa'>Franck Levasseur</h3>
          <br><br>
          <p class='tk-garamond-premier-pro '>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
          This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
        </div>
      </div>
      <div class="cleared">
      </div>
    </div>
  </div>

<!-- PAGE 3 -->
  <div class="page_3">

    <div class="flexslider">
      <ul class="slides">
        <li>
          <%= tag :img, :src => 'images/slide10.png', class:'plat' %>
        </li>
        <li>
          <%= tag :img, :src => 'images/slide13.jpg', class:'plat' %>
        </li>
        <li>
          <%= tag :img, :src => 'images/slide11.png', class:'plat' %>
        </li>
        <li>
          <%= tag :img, :src => 'images/slide4.jpg', class:'plat' %>
        </li>
      </ul>
    </div>
    <div class="restaurant_details" >
      <div class="container_with_margin" id="the_restaurant">
        <br>
        <h3 class='tk-europa'>The restaurant</h3>
        <br>
        <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
        </p>
      </div>
    </div>
  </div>

<!-- PAGE 4 -->
  <div class="page_4">
    <div class="menu_zone">
      <br>
      <h3 class="tk-europa">
        MENU
      </h3>
      <p class='tk-garamond-premier-pro'>Our menus change regularly.</p>
      <p class='premier_pro_italic tk-garamond-premier-pro'>The following represents our most up-to-date offerings.</p> <br><br>
      <ul >
        <li class='one_4 active_meal'><h4 class='tk-garamond-premier-pro'>Appetizer</h4></li>
        <li class='two_4'><h4 class='tk-garamond-premier-pro'>Main</h4></li>
        <li class='three_4'><h4 class='tk-garamond-premier-pro'>Dessert</h4></li>
      </ul>
      <hr><br>

      <!-- Liste des plats -->
      <div class="all_meals">
        <div class="appetizer_meals active_section">
          <div class="new_meal">
            <p class="tk-europa">Crudo of the day bueno</p><br>
            <h4 class='tk-garamond-premier-pro'>Daily Selection of Raw Seafood - <p class="tk-europa">15</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">Heirloom tomato</p><br>
            <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">pork belly</p><br>
            <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">octopus</p><br>
            <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>

        </div>
        <div class="main_meals">
          <div class="new_meal">
            <p class="tk-europa">Crudo of the day</p><br>
            <h4 class='tk-garamond-premier-pro'>The Club Sandwich - <p class="tk-europa">15</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">Heirloom tomato</p><br>
            <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">pork belly</p><br>
            <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">octopus</p><br>
            <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>
        </div>
        <div class="dessert_meals">
          <div class="new_meal">
            <p class="tk-europa">Watermelon</p><br>
            <h4 class='tk-garamond-premier-pro'>Daily Selection of Raw Seafood - <p class="tk-europa">15</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">Heirloom tomato</p><br>
            <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">pork belly</p><br>
            <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">octopus</p><br>
            <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
            <br><br>
          </div>
          <div class="new_meal">
            <p class="tk-europa">foie gras</p><br>
            <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PAGE 5 -->
<div class="page_5">
  <div class="plates">
    <div class="pict" id='pict_1'></div>
    <div class="pict" id='pict_2'></div>
  </div>
  <div class="reservation">
    <div class="module_reservation text-center">
      <h2 class="tk-europa">Book a table</h2>
    </div>
  </div>
</div>
