---
title: Le Wagon Middleman boilerplate
---

<div class="page_1 text-center">
  <h1 class='tk-europa'>
      L'arpège <br> <h2 class="tk-europa"> paris </h2>
  </h1>
</div>

<div class="page_2 tk-europa">
  <div class="chieves_nav text-center">
    <div class="chieves_nav_ul">
      <ul class="text-center">
        <li><h4 class='tk-europa our_chef'>our chef</h4></li>
        <li><h4 class='tk-europa our_sous_chef'>our sous chef</h4></li>
        <li><h4 class='tk-europa'>our patissier</h4></li>
      </ul>
    </div>
  </div>

  <div class="chief_1">
    <div class="chief_picture">

    </div>
    <div class="chief_details_1 text-left ">
      <div class="container_with_margin">
        <br><br>
        <h3 class='tk-europa'><strong>Marc</strong>Johnon</h3>
        <br><br>
        <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
        This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
      </div>
    </div>
    <div class="cleared">
    </div>
  </div>

  <div class="chief_2">
    <div class="chief_picture2">

    </div>
    <div class="chief_details_2 text-left ">
      <div class="container_with_margin">
        <br><br>
        <h3 class='tk-europa'><strong>Franck</strong>Levasseur</h3>
        <br><br>
        <p class='tk-garamond-premier-pro'>Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Ruxbin is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
        This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
      </div>
    </div>
    <div class="cleared">
    </div>
  </div>
</div>
