---
title: Le Wagon Middleman boilerplate
---
<!-- PAGE 1 -->
<div id="fullpage">

  <div class="page_1 text-center section" id='page1'>

    <h1 class='tk-europa restaurant_name'>
        Restaurant <br> <h2 class="tk-europa"> paris </h2>
    </h1>
    <i id="anchor1" class="fa fa-angle-down fa-5x ancre"></i>

  </div>

<!-- PAGE 2 -->
  <div class="page_2 tk-europa section" id="page2">
    <div class="chieves_nav text-center">
      <div class="chieves_nav_ul">
        <ul class="text-center employees_list">
          <li id="one_2" class='active_li'><h4 class='tk-europa our_chef'>our chef</h4></li>
          <li id="two_2"class='active_li'><h4 class='tk-europa our_sous_chef'>our sous chef</h4></li>
        </ul>
      </div>
      <i id="anchor2" class="fa fa-angle-down fa-5x non_mobile ancre"></i>
    </div>

  <!-- PARTIE NON MOBILE DE LA PARTIE CHEF -->
    <div class="version_nonmobile">
      <div class="chief_1">
        <div class="chief_picture">
        </div>
        <div class="chief_details_1 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Marc Johnon</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
        </div>
        <div class="cleared">
        </div>
      </div>

      <div class="chief_2">
        <div class="chief_picture2">

        </div>
        <div class="chief_details_2 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Franck Levasseur</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
        </div>
        <div class="cleared">
        </div>
      </div>
    </div>

  <!-- PARTIE MOBILE DE LA PARTIE CHEF -->
    <div class="version_mobile">
      <div class="chief_mobile_1">
        <div class="chief_picture">

        </div>
        <div class="chief_details_1 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Marc Johnon</h3>
            <br><br>
            <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
          <i id="anchor2_mobile" class="fa fa-angle-down fa-5x mobile ancre"></i>
        </div>
        <div class="cleared">
        </div>
      </div>

      <div class="chief_mobile_2">
        <div class="chief_picture2">

        </div>
        <div class="chief_details_2 text-left ">
          <div class="container_with_margin">
            <br><br>
            <h3 class='tk-europa'>Franck Levasseur</h3>
            <br><br>
            <p class='tk-garamond-premier-pro '>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
            This a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food.</p>
          </div>
          <i id="anchor_2_mobile" class="fa fa-angle-down fa-5x mobile ancre"></i>
        </div>
        <div class="cleared">
        </div>
      </div>
    </div>
  </div>


 <!-- A coller ici -->

 <!-- PAGE 3 -->
   <div class="page_3 section" id="page3">

     <div class="flexslider">
       <ul class="slides">
         <li>
           <%= tag :img, :src => 'images/slide10.jpg', class:'plat' %>
         </li>
         <li>
           <%= tag :img, :src => 'images/slide13.jpg', class:'plat' %>
         </li>
         <li>
           <%= tag :img, :src => 'images/slide11.jpg', class:'plat' %>
         </li>
         <li>
           <%= tag :img, :src => 'images/slide4.jpg', class:'plat' %>
         </li>
       </ul>
     </div>
     <div class="restaurant_details" >
       <div class="container_with_margin" id="the_restaurant">
         <br>
         <h3 class='tk-europa'>The restaurant</h3>
         <br>
         <p class='tk-garamond-premier-pro'>Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. Restaurant is a small 32 seat bistro tucked away in the Noble Square neighborhood of Chicago. Thoughtfully designed by Davide Nanni, the warm and ambient space provides an inviting respite and creates the quintessential canvas for our food. <br><br>
         </p>
       </div>
     </div>
     <i id="anchor3" class="fa fa-angle-down fa-5x ancre"></i>
   </div>

 <!-- PAGE 4 -->
   <div class="page_4 section" id='page4'>
     <div class="menu_zone">
       <br>
       <h3 class="tk-europa">
         MENU
       </h3>
       <p class='tk-garamond-premier-pro'>Our menus change regularly.</p>
       <p class='premier_pro_italic tk-garamond-premier-pro'>The following represents our most up-to-date offerings.</p> <br><br>
       <ul >
         <li class='one_4 active_meal'><h4 class='tk-garamond-premier-pro'>Appetizer</h4></li>
         <li class='two_4'><h4 class='tk-garamond-premier-pro'>Main</h4></li>
         <li class='three_4'><h4 class='tk-garamond-premier-pro'>Dessert</h4></li>
       </ul>
       <hr><br>

       <!-- Liste des plats -->
       <div class="all_meals">
         <div class="appetizer_meals active_section">
           <div class="new_meal">
             <p class="tk-europa">Crudo of the day bueno</p><br>
             <h4 class='tk-garamond-premier-pro'>Daily Selection of Raw Seafood - <p class="tk-europa">15</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">Heirloom tomato</p><br>
             <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">pork belly</p><br>
             <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">foie gras</p><br>
             <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">octopus</p><br>
             <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
             <br><br>
           </div>


         </div>
         <div class="main_meals">
           <div class="new_meal">
             <p class="tk-europa">Crudo of the day</p><br>
             <h4 class='tk-garamond-premier-pro'>The Club Sandwich - <p class="tk-europa">15</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">Heirloom tomato</p><br>
             <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">pork belly</p><br>
             <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">foie gras</p><br>
             <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">octopus</p><br>
             <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
             <br><br>
           </div>
         </div>
         <div class="dessert_meals">
           <div class="new_meal">
             <p class="tk-europa">Watermelon</p><br>
             <h4 class='tk-garamond-premier-pro'>Daily Selection of Raw Seafood - <p class="tk-europa">15</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">Heirloom tomato</p><br>
             <h4 class='tk-garamond-premier-pro'>Watermelon, Cucumber, House Ricotta, Brioche -  <p class="tk-europa">16</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">pork belly</p><br>
             <h4 class='tk-garamond-premier-pro'>Berkshire Pork Belly, Cornbread, Jicama, Bleu Cheese - <p class="tk-europa">18</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">foie gras</p><br>
             <h4 class='tk-garamond-premier-pro'>Torchon, Candied Rhubarb, Cippolini, Watercress, Brioche and Hazelnut Granola - <p class="tk-europa">20</p> </h4><br>
             <br><br>
           </div>
           <div class="new_meal">
             <p class="tk-europa">octopus</p><br>
             <h4 class='tk-garamond-premier-pro'>Roasted Grapes, Chickpeas, Ginger Scallion Viniagrette - <p class="tk-europa">14</p> </h4><br>
             <br><br>
           </div>

         </div>
         <br><br><br><br>
         <i id="anchor4" class="fa fa-angle-down fa-5x ancre"></i>
       </div>
     </div>
   </div>

 <!-- PAGE 5 -->
 <div class="page_5 section parallax-window'" id='page5'>
   <div class="plates">
     <div class="pict" id='pict_1'></div>
     <div class="pict" id='pict_2'></div>
   </div>
   <div class="reservation">
     <div class="module_reservation text-center">
       <h2 class="tk-europa">Book a table</h2>
     </div>
   </div>
   <i id="anchor5" class="fa fa-angle-down fa-5x ancre"></i>
 </div>

 <!-- PAGE 6 -->
   <div class="page_6 section" id='page6'>

     <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCk1t6XK-QH37f0OAN-VSleZEEyxCMG-XQ&sensor=false&extension=.js'></script>

     <script>
         google.maps.event.addDomListener(window, 'load', init);
         var map;
         function init() {
             var mapOptions = {
                 center: new google.maps.LatLng(48.866991,2.317785),
                 zoom: 16,
                 zoomControl: false,
                 disableDoubleClickZoom: true,
                 mapTypeControl: false,
                 scaleControl: false,
                 scrollwheel: false,
                 panControl: true,
                 streetViewControl: false,
                 draggable : false,
                 overviewMapControl: false,
                 overviewMapControlOptions: {
                     opened: false,
                 },
                 mapTypeId: google.maps.MapTypeId.ROADMAP,
                 styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}],
             }
             var mapElement = document.getElementById('Restaurant');
             var map = new google.maps.Map(mapElement, mapOptions);
             var locations = [
     ['Restaurant', 'undefined', 'undefined', 'undefined', 'undefined', 48.869018,  2.318028, 'https://mapbuildr.com/assets/img/markers/ellipse-black.png']
             ];
             for (i = 0; i < locations.length; i++) {
           if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
           if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
           if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
                if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
                if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
                 marker = new google.maps.Marker({
                     icon: markericon,
                     position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                     map: map,
                     title: locations[i][0],
                     desc: description,
                     tel: telephone,
                     email: email,
                     web: web
                 });
     link = '';     }

     }
     </script>
     <style>
         #Restaurant {
             height:400px;
             width:550px;
         }
         .gm-style-iw * {
             display: block;
             width: 100%;
         }
         .gm-style-iw h4, .gm-style-iw p {
             margin: 0;
             padding: 0;
         }
         .gm-style-iw a {
             color: #4272db;
         }
     </style>

     <div id='Restaurant'></div>
     <div class="contact">
       <div class="container_with_margin">
         <br>
         <h3 class='tk-europa'>CONTACT US</h3> <hr> <br>

         <div class="contact_details">
           <h4 class='tk-garamond-premier-pro'>41 Avenue du Faubourd Saint-Honoré</h4>
           <h4 class='tk-garamond-premier-pro'>75008 Paris</h4> <br> <hr>
           <p class="tk-europa days">TUES — FRI</p>
           <h4 class='tk-garamond-premier-pro'>6:00 – 10:00pm</h4><br>
           <p class="tk-europa days">SAT</p>
           <h4 class='tk-garamond-premier-pro'>5:30 – 10:00pm</h4><br>
           <p class="tk-europa days">SUN</p>
           <h4 class='tk-garamond-premier-pro'>5:30 – 9:30pm</h4><br>
           <hr>
         </div>


         <div class="col-xs-6 contact_mobile">
           <h4 class='tk-garamond-premier-pro'>41 Avenue du Faubourd Saint-Honoré</h4>
           <h4 class='tk-garamond-premier-pro'>75008 Paris</h4>
         </div>
         <div class="col-xs-6 contact_mobile">
           <p class="tk-europa days">TUES — FRI</p>
           <h4 class='tk-garamond-premier-pro'>6:00 – 10:00pm</h4><br>
           <p class="tk-europa days">SAT</p>
           <h4 class='tk-garamond-premier-pro'>5:30 – 10:00pm</h4><br>
           <p class="tk-europa days">SUN</p>
           <h4 class='tk-garamond-premier-pro'>5:30 – 9:30pm</h4>

         </div>

       </div>
     </div>
   </div>

   <div class="menu">
     <div class="rubriques">
       <ul>
         <li><div>
           <a href="#page1" class='link_menu'><h4 class='tk-europa case'>Home</h4></a>
         </div></li>
         <li><div>
           <a href="#page2" class='link_menu'><h4 class='tk-europa case'>Chiefs</h4></a>
         </div></li>
         <li><div>
           <a href="#page3" class='link_menu'><h4 class='tk-europa case '>The restaurant</h4></a>
         </div></li>
         <li><div>
           <a href="#page4" class='link_menu'><h4 class='tk-europa case'>Menu</h4></a>
         </div></li>
         <li><div>
           <a href="#page5" class='link_menu'><h4 class='tk-europa case'>Reservations</h4></a>
         </div></li>
         <li><div>
           <a href="#page6" class='link_menu'><h4 class='tk-europa case'>Contact</h4></a>
         </div></li>
       </ul>
    </div>
    <div class="infos_menu">
      <br>
      <h5 class='tk-europa info_utiles'>Informations utiles</h5>
      <br>
      <h5 class='tk-garamond-premier-pro'>41 Avenue du Faubourd Saint-Honoré</h5>
      <h5 class='tk-garamond-premier-pro text-center'>75008 Paris</h5>
      <br>
      <h5 class='tk-garamond-premier-pro text-center'>01.25.25.26.25</h5>
      <br>
      <div class='text-center'>
        <img src="images/logo.png" class='logo' ></img>
      </div>

    </div>

   </div>

  <div class="menu_link">
    <h3 class='tk-europa'>MENU</h3>
  </div>
</div>

<div class='menu_hamburger'>
  <img src="images/noun_202961_cc.png" alt="MenuButton" class='menu_button' ></img>
</div>

<div id='activated_zone'>
&nbsp;
</div>

<div id="rotator" style="height:100px;width:100px"></div>
